/* CSS Document */
@import url('../fonts/static/');



* {
	margin:0;
	padding:0;
}

#wrapper {
	border:1px solid black;
	border-radius: 20px;
	height: 115%;
	/*height:1000px;*/
	width:80%;
    background-color: rgba(248,248,255, 0.9);
	margin:0 auto;
	margin-top: 10px; 
	color: #333;
	box-shadow: 1px 1px 3px #999999;
}

.deco-none {
	text-decoration: none;
}

#m1 {
	width:100%;
	height: 150px;
	border-bottom:1px solid black;
	background: url(../images/m1.png); 
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px;
}

#nav {
	padding-top: 1%;
	padding-left:/*20px*/1%;
	width:20%;
	height: 70%;
	/*height:700px;*/
	float:left;	
}


#article {
	width:75%;
	height: 70%;
	/*height:700px;*/
	/*padding: 15px;*/
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: /*20px*/2%;
	float:right;
	border-left:1px solid black;
	font-family: 'Oxygen', sans-serif;
	line-height: 25px;
	font-weight: 500;
	padding-right: 1%;
}

#podval {
	width:100%;
	/*height: 15%;*/
	height:150px;
	border-top:1px solid black;
	color:black;
	background-color: #DDDDDD;
	border-bottom-right-radius: 20px; 
	border-bottom-left-radius: 20px;
}

.main-page {
	background-color:#F60;
	color: white;	
}

.nav__link {
	display:block;
	width: 80%;
	/*
	width: 200px;
	*/
	height: /*20px*/10%;
	text-decoration:none;	
	border: 1px solid black;
	border-radius: 10px;
	background-color: /*#0FC*/#FFFFFF;	
	font-family: "Arial", Helvetica, sans-serif;
	font-style:italic;
	padding: /*10px*/4%;
	margin-top: /*5px*/3%;
	margin-bottom: 3%;
	line-height:/*20px*/100%;
	color: black;
}


#nav ul {
	margin-left: /*25px*/10%;
	list-style-type:none;	
}

.nav__link:hover {
	background-color: /*#0F9*/ #DCDCDC;
	color: #666;
	text-decoration:underline;
}

.nav__link__active:hover {
	background-color:/*#F90*/#000000;
	color: white;
	text-decoration:none;
}

.nav__link__active {
	background-color: /*#F90*//*#696969*/#000000;
	color: white; 	
}

/*.header-bg {
	background-image: url(../images/mramor.jpg);
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px;
	} */

h1 {
	font-size:36px;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	text-transform: capitalize;
}

#podval p {
	padding-top: 5px;
	padding-right: 10px;	
}

body {
	background: url(../images/m1.jpg) fixed;
}

#site-header__footer {
	width: 100%;
	height: 80px;
	background-color: #c5d4f1;
}

#footer-left {
	float:left;
	width: 90px;
}

a #footer-left {
	display:block;
	width:90px;
	height:33px;
	background-image:url(../images/web-dizain.jpg);
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: 40px;
	border: solid 1px black;
}

a:hover #footer-left {
	background-image:url(../images/web-dizain-alt.jpg);
}

#footer-right {
	float:right;
    width: /*350px*/30%;
	height: 40px;
	margin-top: 20px;
}

#footer-right span {
	color: #000;
	font-size: 14px;
}

.clear {
	clear: both;
}

.deco-none {
	text-decoration: none;
	list-style-type: none;
}

.logotype {
	float:left;
	width: 90px;
}

a .logotype {
	display:block;
	width:90px;
	height:82px;
	float: left;
	background-image: url(../images/logo.png);
	margin: 20%;
}

a .logotype:hover {
	background-image: url(../images/logo__active.png);
}

table.example tr > th {
	background-color: #DCDCDC;
	padding: 1%;
}

table.example tr > td {
	padding: 1%;
}

.border-black {
	border: 2px solid black;
}

.padding-20 {
	padding: 20px;
}

.border-20 {
	border-radius: 20px;
}

/*.shadow {
	box-shadow: 10px 10px 10px;
}*/

.page-menu li a {
	color: #808080;
	text-decoration: none;
}

.page-menu li a:hover {
	color: #696969;
	text-decoration: underline;
}

.icon {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.back-button {
	display:block;
	width: 20%;
	/*
	width: 200px;
	*/
	height: /*20px*/10%;
	text-decoration:none;	
	border: 1px solid black;
	border-radius: 10px;
	background-color: /*#0FC*/#FFFFFF;	
	font-family: "Arial", Helvetica, sans-serif;
	font-style:italic;
	padding: /*10px*/4%;
	margin-top: /*5px*/3%;
	margin-bottom: 3%;
	line-height:/*20px*/100%;
	color: black;
	text-align: center;
	font-size: 24px;
}

.back-button:hover {
	background-color: /*#0F9*/ #DCDCDC;
	color: #666;
	text-decoration:underline;
}

#hidden-text {
	width: 80%;
	height: 400px;
	overflow: auto;
}

.famous-button {
	display: block;
	background-color: #F5FFFA;
	width: 40%;
	height: 80%;
	font-size: 24px;
	border-radius: 30px;
	height: 50px;
	margin-top: 10px; 
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
}

.famous-button:hover {
	background-color: #A9A9A9;
	text-decoration: underline;
}

#article img {
	margin: 5%;
}


.figure {
	padding: 10px;
	float: left;
	border: 5px solid black;
}

figure {
	border: 3px solid gray;
	font-size: 28px;
	border-radius: 20px;
	padding: 10px;
	padding-left: 35px;
	margin-top: 10px;
}

figcaption {
	text-decoration: underline solid #708090;
}

pre {
	font-size: 24px;
}

.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1 1 80%;
	justify-content: center;
	flex-wrap: wrap;
}

#toTop {
	width:10%;
	height: 5%;
	border:1px solid #ccc;
	background:#f7f7f7;
	vertical-align: middle;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px; 
	right:10px;
	cursor:pointer;
	display:none;
	color:#333;
	font-family:verdana;
	font-size:24px;
}

.margin-25-top {
	margin-top: 25px;
}
/*
.vh-fr {
	height: 12vh;
}
*/
/*
.vh-ifr {
	height: 67.3vh;
}
*/
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.href {
	text-decoration: none;
	color: black;
}

#gt-flex {
	align-self: ;
}

.frame-1 {
	margin: 5px;
}